@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(20, 29, 47, 1);
}

.root {
  max-width: 730px;
  height: 610px;
  width: 100%;
  background-color: rgba(20, 29, 47, 1);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

img {
  width: 20px;
  height: 20px;
}

.pfp {
  width: 117px;
  height: 117px;
  display: flex;
  flex-direction: column;
}

/* top */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: white;
}

.site-color {
  background-color: transparent;
  border: 0px;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;

  color: white;
  gap: 16px;
}

.site-color:hover {
  color: rgba(144, 164, 212, 1);
  fill: #0000ff;
  cursor: pointer;
  transition: 0.4s;
}

/* middle */

.search-box {
  background-color: rgba(30, 42, 71, 1);
  width: 100%;
  height: 69px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 25px;
  padding-right: 10px;
}

.left-side-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-input {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  max-width: 435px;
  min-width: 260px;
  width: 100%;
}

.search-input:focus {
  border: none;
  outline: none;
}

.change-theme {
  display: flex;
  gap: 10px;
}

.search-button {
  background-color: rgba(0, 121, 255, 1);
  border-radius: 10px;
  border: 0px;
  color: white;
  max-width: 106px;
  height: 50px;
  width: 100%;
}

.search-button:hover {
  cursor: pointer;
}

.result-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 105px;
  width: 100%;
}

.first-container {
  display: flex;
  flex-direction: row;
  height: 90px;
}

.infos {
  gap: 17px;
  display: flex;
  flex-direction: column;
}

.second-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.result {
  width: 130px;
  color: rgba(247, 70, 70, 1);
  font-weight: 700;
  font-size: 15px;
  display: none;
}

/* bottom  */

.output-box {
  background-color: rgba(30, 42, 71, 1);
  width: 100%;
  height: 444px;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  gap: 37px;
}

.right-side-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 150px;
  min-width: 279px;
}

.name-joindate {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.inside-namejoindate {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95px;
}

.left-side-bottom {
  height: 117px;
  max-width: 150px;
  width: 100%;
}

.name {
  color: white;
  font-weight: 700;
  font-size: 26px;
  width: 179px;
}

.joindate {
  color: white;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  width: 268px;
  margin-top: 8px;
}

.pfp-basicinfo {
  display: flex;
  gap: 37px;
}

.handle {
  color: rgba(0, 121, 255, 1);
  font-weight: 400;
  font-size: 16px;
}

.info {
  color: white;
  font-weight: 400;
  font-size: 15px;
  max-width: 460px;
  line-height: 25px;
}

.gap {
  display: flex;
}

.stats {
  display: flex;
  padding-top: 15px;
  padding-left: 32px;
  padding-right: 83px;
  padding-bottom: 17px;
  justify-content: space-between;
  background-color: rgba(20, 29, 47, 1);
  border-radius: 10px;
  height: 85px;
}

.stats-text {
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: white;
}

.stats-numbers {
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: white;
}

.stat-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottom-infos-text {
  color: white;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 22px;
}

.bottom-link {
  color: white;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.last-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 429px;
  width: 100%;
  height: 63px;
}

.bottom-info-box {
  display: flex;
  max-width: 211px;
  width: 100%;
  gap: 19px;
}

.info-boxes-one {
  display: flex;
  justify-content: space-between;
  gap: 111px;
}

.info-boxes-two {
  display: flex;
  justify-content: space-between;
  gap: 62px;
}

.bottom-bottom {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.image-container {
  max-width: 117px;
  position: relative;
  min-width: 70px;
}

.pfp {
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .root {
    gap: 20px;
  }
  .info-boxes-one {
    flex-direction: column;
    gap: 17px;
  }
  .info-boxes-two {
    flex-direction: column;
    gap: 17px;
  }
  .output-box {
    padding: 24px;
    gap: 15px;
  }
  .right-side-bottom {
    gap: 2px;
    justify-content: center;
    padding-left: 2px;
    height: 500px;
  }
  .bottom-bottom {
    gap: 10px;
  }
  .search-input {
    min-width: 150px;
  }
  .gap {
    flex-direction: column;
  }
  .joindate {
    width: 166px;
  }
  .stats {
    padding-right: 15px;
    padding-left: 15px;
  }
  .search-box {
    padding-left: 16px;
  }
  .output-box {
    flex-direction: column;
    height: 540px;
  }
  .pfp {
    flex-direction: column;
  }
  .left-side-search {
    gap: 5px;
  }
  .first-container {
    gap: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .pfp {
    gap: 20px;
  }
  .right-side-bottom {
    gap: 24px;
    margin-bottom: 50px;
  }
}
