@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(20, 29, 47, 1);
}

.root {
  max-width: 730px;
  height: 610px;
  width: 100%;
  background-color: rgba(20, 29, 47, 1);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

/* top */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: white;
}

.site-color {
  background-color: transparent;
  border: 0px;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 700px;
  display: flex;
  align-items: center;

  color: white;
  gap: 16px;
}

.site-color:hover {
  color: rgba(144, 164, 212, 1);
  fill: #0000ff;
  cursor: pointer;
  transition: 0.4s;
}

/* middle */

.search-box {
  background-color: rgba(30, 42, 71, 1);
  width: 100%;
  height: 69px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 25px;
  padding-right: 10px;
}

.left-side-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-input {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  max-width: 435px;
  min-width: 270px;
  width: 100%;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-button {
  background-color: rgba(0, 121, 255, 1);
  border-radius: 10px;
  border: 0px;
  color: white;
  max-width: 106px;
  height: 50px;
  width: 100%;
}

.search-button:hover {
  cursor: pointer;
}

.result-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 195px;
  width: 100%;
}

.result {
  width: 130px;
  color: rgba(247, 70, 70, 1);
  font-weight: 700;
  font-size: 15px;
}

/* bottom  */

.output-box {
  background-color: rgba(30, 42, 71, 1);
  width: 100%;
  height: 444px;
  border-radius: 15px;
  padding: 48px;
}
